<<<<<<< HEAD
.botones{
    font:bold 120% serif;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: #f2f2f2;
    border-radius: 10px;
    border: 3px solid #007bff;
    
    background: #007bff;
	transition:background 1s;
}
.botones:hover{
	background: #f2f2f2;
	color: black;
}

.inputs{    
    font: 120% serif;
    border-radius: 10px;
}

.titulos{
    font:bold 200% serif;
    color: #f2f2f2;
}

.contenedor{
    background: #00000059;
}

.cuadro{
    padding: 10px 20px 10px 20px;
    text-align: center;
    background: #f2f2f2;
    border: 1px solid #000000;
}

.vehiculo{
    font:bold 120% serif;
    text-align: center;
    color:white;
    background: #007bff;
}

.boton-pausa{
    font:bold 120% serif;
    text-decoration: none;
    color: #070000;
    border: 1px solid #000000;
    background: #ffffff;
	transition:background 1s;
}
.boton-pausa:hover{
    background: #007bff;
    color: #ffffff;
    
}

.boton-eliminar{
    font:bold 120% serif;
    text-decoration: none;
    color: #070000;
    border: 1px solid #000000;
    background: #ffffff;
	transition:background 1s;
}
.boton-eliminar:hover{
    background: #af4f4f;
    color: #ffffff;
=======
/* You can add global styles to this file, and also import other style files */
body{
    background-color:rgb(112, 215, 255);
>>>>>>> ccad9a030d480f723733cfc579b7d3829a5e3334
}