<app-nav></app-nav>
<div class="container col-3 pt-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Reportes</h1>
    </div>
</div>
<div class="container contenedor col-10 pt-3">

    <div class="row justify-content-center pt-5">
        <div class="vehiculo col-6">
            <p class="vehiculo">Otros parametros</p>
        </div>
    </div>


    <div class="row justify-content-center pt-5">
        <div class="vehiculo col-6">
            <p class="vehiculo">Reportes</p>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-1 cuadro-reportes">
            <p>CLiente</p>
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Placa</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>#servicios</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Descuento</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Costo</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Estado</p> 
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-1 cuadro-reportes">
            <p>CLiente</p>
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Placa</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>#servicios</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Descuento</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Costo</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Estado</p> 
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-1 cuadro-reportes">
            <p>CLiente</p>
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Placa</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>#servicios</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Descuento</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Costo</p> 
        </div>
        <div class="col-1 cuadro-reportes">
            <p>Estado</p> 
        </div>
    </div>  
</div>
