.cuadro-reportes{
    text-align: center;
    background: #f2f2f2;
    border: 1px solid #000000;
}
.letras{
    font:bold 100% serif;
    color: #f2f2f2;
}
.fechas{
    font: 100% serif;
    border-radius: 10px;    
}