<app-nav></app-nav>
<div class="container col-3 pt-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Asignar servicios</h1>
    </div>
</div>
<div class="container contenedor col-7 pt-3">
    <div class="row  justify-content-center pt-5">
        <div class="vehiculo col-9">
            <p class="vehiculo">vehiculo</p>
        </div>
        
    </div>
    <div class="row justify-content-center ">
        <div class="col-3 cuadro">
            <p>servicio1</p>
        </div>
        <div class="col-3 cuadro">
            <p>Tiempo estimado</p>
        </div>
        <div class="col-3 cuadro">
            <input type="checkbox">
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-3 cuadro">
            <p>servicio1</p>
        </div>
        <div class="col-3 cuadro">
            <p>Tiempo estimado</p>
        </div>
        <div class="col-3 cuadro">
            <input type="checkbox">
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-3 cuadro">
            <p>servicio1</p>
        </div>
        <div class="col-3 cuadro">
            <p>Tiempo estimado</p>
        </div>
        <div class="col-3 cuadro">
            <input type="checkbox">
        </div>
    </div>

    <div class="row justify-content-end pt-4 pb-5">
        <div class="col-3">
            <button class="botones">
                Guardar
            </button>
        </div>
    </div>
</div>