<app-nav></app-nav>
<div class="container col-3 pt-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Vehiculo</h1>
    </div>
</div>

<form class="container contenedor col-6 pb-3 pt-3">

    <div class="row justify-content-center pt-5 pb-4">
        <input class="inputs" type="" placeholder="Tipo Vehiculo">
    </div>
    <div class="row justify-content-center pb-4">
        <input class="inputs" type="text" placeholder="Modelo">
    </div>
    <div class="row justify-content-center">
        <input class="inputs"  type="text" placeholder="Placa">
    </div>
    <div class="row justify-content-center pt-5  pb-5">
        <input type="text" class="inputs" placeholder="Buscar vehiculo">
        <button class="botones">buscar</button>
    </div>
</form>
<div class="row justify-content-center pb-5">
    <div class="p-3">
        <button class="botones">Guardar</button>
    </div>
    <div class="p-3">
        <button class="botones">Liquidación</button>
    </div>   
</div>