<app-nav></app-nav>
<div class="container col-3 pt-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Vehiculo</h1>
    </div>
</div>

<form class="container contenedor col-6 pb-3 pt-3">
    <div class="row justify-content-center pb-5 pt-5">
        <input type="text" class="inputs" placeholder="Buscar vehiculo">
        <button class="botones">buscar</button>
    </div>

        <div class="row justify-content-center pb-3">
            <input class="inputs"  type="text" placeholder="TipoVehiculo">
        </div>
        <div class="row justify-content-center pb-3">
            <input class="inputs"  type="text" placeholder="placa">
        </div>
    <div class="row justify-content-center pb-4">
        <input class="inputs"  type="text" placeholder="modelo">
        
    </div>
    <div class="row justify-content-center pt-3 pb-5">
        <button class="botones">
            Asignar cliente
        </button>
        <input class="inputs"  type="text" placeholder="Documento">
    </div>

</form>
<div class="row justify-content-center pb-5">
    <div class="p-3">
        <button class="botones">Asignar servicios</button>
    </div>   
</div>