<app-nav></app-nav>
<div class="container col-3 pt-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Estado de servicios</h1>
    </div>
</div>
<div class="container contenedor p-5">
    <div class="row">
        <div class="col-7 cuadro-liquidacion">
            <p>servicio1</p>
            <p>servicio1</p>
            <p>servicio1</p>
            <p>servicio1</p>
            <p>servicio1</p>
            <p>servicio1</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 cuadro-liquidacion">
            <p>servicio1</p>
        </div>
    </div>
</div>