<app-nav></app-nav>
<div class="container col-3 pt-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Estado de servicios</h1>
    </div>
</div>
<div class="container contenedor p-5">
    <div class="row bg-white">
        <div class="container col-6">
            <div class="row">
                <label class="col-12 cuadro-titulo">Información</label>
            </div>
            <div class="row cuadro-informacion">
                <label class="col-12">Tipo de vehiculo</label>
            </div>
            <div class="row cuadro-informacion">
                <label class="col-12">placa</label>
            </div>
            <div class="row cuadro-informacion">
                <label class="col-12">Documento cliente</label>
            </div>
            <div class="row cuadro-informacion">
                <label class="col-12">Nombre cliente</label>
            </div>
            <div class="row cuadro-informacion">
                <label class="col-12">Telefono</label>
            </div>                          
        </div>   
        <div class="container col-6">
            <div class="row justify-content-center">
                <img src="../../../assets/logo.png">
            </div>
        </div> 
    </div>



    <div class="row bg-white">
        <div class="col-9 cuadro-liquidacion">
            <p class="pt-3">Fecha y hora inicio</p>
            <p>Fecha y hora fin</p>
            <p>Servicio1</p>
            <p>Servicio2</p>
            <p>Servicio3</p>
            <p>total servicio</p>
            <p>descuendo</p>

        </div>
        <div class="col-3 cuadro-liquidacion">
            <p class="pt-3">Total</p>
            <p>total neto</p>
            Turno
        </div>
    </div>  
</div>