<app-nav></app-nav>
<div class="container col-3 pt-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Parametrizacon</h1>
    </div>
</div>

<div class="container contenedor col-7 p-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Descuentos</h1>
    </div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="col-12">
        <ng-container>


        </ng-container>


        <ng-container matColumnDef="numServicios">
            <th mat-header-cell *matHeaderCellDef> Numero de servicios </th>
            <td mat-cell *matCellDef="let element"><input type="number" placeholder={{element.numServicios}}> </td>
        </ng-container>

        <ng-container matColumnDef="porcentageDes">
            <th mat-header-cell *matHeaderCellDef>Descuento</th>
            <td mat-cell *matCellDef="let element"> <input type="number" placeholder={{element.porcentageDes}}> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <div class="row justify-content-center">
        <h1 class="titulos pt-3">Servicios</h1>
    </div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="col-12">

        <ng-container matColumnDef="vehiculos">
            <th mat-header-cell *matHeaderCellDef> Vehiculos </th>
            <td mat-cell *matCellDef="let element"> {{element.vehiculos}} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element"> <input type="number" placeholder={{element.precio}}> </td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()" color="primary">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" color="primary">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <div class="row justify-content-center pt-5">
        <button mat-raised-button color="primary">Añadir</button>
    </div>
</div>