<app-nav></app-nav>
<div class="container col-3 pt-5">
    <div class="row justify-content-center">
        <h1 class="titulos">Vehiculos ingresados</h1>
    </div>
</div>
<div class="container contenedor col-7 pt-3">
    <div class="row  justify-content-center pt-5">
        <div class="vehiculo col-9">
            <p class="vehiculo">Ingresos</p>
        </div>
        
    </div>
    <div class="row justify-content-center ">
        <div class="col-3 cuadro">
            <p>Vehiculo1</p>
        </div>
        <div class="col-3 cuadro">
            <p>Estado</p>
        </div>
        <div class="col-3 cuadro">
            <button class="iconos"><i class="fas fa-search"></i></button>
            <br>
            <button class="iconos"><i class="fas fa-file-invoice"></i></button>
            <button class="iconos"><i class="fas fa-ban"></i></button>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-3 cuadro">
            <p>vehiculo2</p>
        </div>
        <div class="col-3 cuadro">
            <p>Estado</p>
        </div>
        <div class="col-3 cuadro">
            <button class="iconos"><i class="fas fa-search"></i></button>
            <br>
            <button class="iconos"><i class="fas fa-file-invoice"></i></button>
            <button class="iconos"><i class="fas fa-ban"></i></button>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-3 cuadro">
            <p>vehiculo3</p>
        </div>
        <div class="col-3 cuadro">
            <p>Estado</p>
        </div>
        <div class="col-3 cuadro">
            <button class="iconos"><i class="fas fa-search"></i></button>
            <br>
            <button class="iconos"><i class="fas fa-file-invoice"></i></button>
            <button class="iconos"><i class="fas fa-ban"></i></button>
        </div>
    </div>

    <div class="row justify-content-end pt-4 pb-5">
        <div class="col-3">
            <button class="botones">
                Guardar
            </button>
        </div>
    </div>
</div>