
<div class="container col-12" style="height:200px;">
    <a href="##"></a>
</div>

<div class="container col-3">
    
</div>

<form class="container contenedor col-3 pt-5">

    <div class="row justify-content-center">
        <h1 class="titulos">Login</h1>
    </div>

    <div class="row justify-content-center">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuario" type="email">
        </mat-form-field>
    </div>

    <div class="row justify-content-center p-4">    
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña" type="password">
        </mat-form-field>
    </div>
    
    <div class="row justify-content-center pb-5">   
        <button mat-raised-button color="primary" [routerLink]="['/registroVehiculo']">Ingresar</button>
    </div>

</form>
