<!--<form> 
    <div>
        <label>Nombre</label>
        <input>
    </div>
    <div>
        <label>Contraseña</label>
        <input>
    </div>
    <button>Entrar</button>
</form>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-primary">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, est illum magnam facilis quas dignissimos voluptatibus dolorem temporibus veniam id, harum tempore dolores eos nobis modi tenetur ullam at nam.</p>
        </div>
    </div>
    

</div> 