
<div class="container col-12" style="height:200px;">
    <a href="##"></a>
</div>

<div class="container col-3">
    
</div>

<form class="container contenedor col-3 pt-5">

    <div class="row justify-content-center">
        <h1 class="titulos">Login</h1>
    </div>

    <div class="row justify-content-center">
        <input class="inputs" type="text" placeholder="Nombre">
    </div>

    <div class="row justify-content-center p-4">    
        <input class="inputs" type="password" placeholder="Contaseña">
    </div>
    
    <div class="row justify-content-center pb-5">   
        <button class="botones" [routerLink]="['/registroVehiculo']">
            Entrar
        </button>
    </div>

</form>
