<div class="container col-8 bg-success h-5">
    <div class="row bg-primary">
        <div class="col-3">
            <button class="botones">

            </button>
        </div>

        <div>
            <button class="botones">
                Buscar vehiculo
            </button>
        </div>

        <div>
            <button class="botones">
                Registrar vehiculo
            </button>
        </div>

        <div>
            <button class="botones">
                Servicios
            </button>
        </div>

        <div>
            <button class="botones">
                Registrar usuario
            </button>
        </div>

        <div>
            <button class="botones">
                Admin
            </button>
        </div>
    </div>
</div>