<div class="container col-8 bg-success h-5">
    <div class="row bg-primary">

        <div>
            <button class="botones">
                Registrar entrada
            </button>
        </div>

        <div>
            <button class="botones">
                Parametrización
            </button>
        </div>

        <div>
            <button class="botones">
                Ver facturas
            </button>
        </div>
        <div>
            <button class="botones">
                Generar reporte
            </button>
        </div>
        <div>
            <button class="botones">
                Cerrar sesión
            </button>
        </div>
    </div>
</div>